h1 {
    text-align: center;
}

h1 span {
    color:darkgray;
}

.background-1 {
    width: 33%;
    display: inline-block;
    text-align: center;
}

.background-1 img {
    width: 100%;
}


.background-1 button {
    background-color: transparent;
    border: 2px solid #09c;
    padding: 10px 15px;
    border-radius: 50px;
}

.background-2 {
    width: 33%;
    display: inline-block;
    text-align: center;
}

.background-2 img {
    width: 100%;
}


.background-2 button {
    background-color: transparent;
    border: 2px solid #09c;
    padding: 10px 15px;
    border-radius: 50px;
}

.background-3 {
    width: 33%;
    display: inline-block;
    text-align: center;
}

.background-3 img {
    width: 100%;
}


.background-3 button {
    background-color: transparent;
    border: 2px solid #09c;
    padding: 10px 15px;
    border-radius: 50px;
}

